<template>
  <div :class="['StackList mt-20 mb-10 sm:(pt-20 pb-10) lg:(pt-40 pb-30) flex flex-wrap justify-center',
  `${randomNumber}`]">
    <Tag
      v-for="(item, index) in props.tagList"
      :key="index"
      :colorIndex="index"
    >
      {{ item }}
    </Tag>
  </div>
</template>

<script lang="ts" setup>
import { gsap } from "gsap";
import { ScrollTrigger } from "gsap/ScrollTrigger";

if (process.client) {
  gsap.registerPlugin(ScrollTrigger);
}

let randomNumber = ref<string>();
function getRandomInt(min, max) {
  min = Math.ceil(min);
  max = Math.floor(max);
  return Math.floor(Math.random() * (max - min) + min); //The maximum is exclusive and the minimum is inclusive
}

let tl = gsap.timeline();
onBeforeMount(() => {
randomNumber.value =  'list-' + String(getRandomInt(1,  1000000));

})
onMounted(() => {
  gsap.set(`.${randomNumber.value}`, { scale: 0 });
  gsap.to(`.${randomNumber.value}`, {
    scrollTrigger: {trigger: `.${randomNumber.value}`},
    scale: 1,
    duration: 1
  });
});

const props = defineProps({
  tagList: {
    type: Array,
    default: [],
  },
});

</script>

<style lang="scss">
.StackList {
  border: var(--border-primary);
  border-radius: 12px;
  padding-left: 10px;
  padding-right: 10px;
  .Tag {
    margin-bottom: 10px;
  }
}
</style>
