<template>
  <div class="VisitSiteButton" @click="handleClickRedirect">
    <div class="visit-wrapper">
      <span class="button-text"> {{ text }}</span>
      <div class="button-mask"></div>

      <span class="button-arrow">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 476.213 476.213">
          <path fill="var(--color-foreground)"
            d="M405.606 167.5l-21.212 21.213 34.393 34.393H0v30h418.787L384.394 287.5l21.212 21.213 70.607-70.607"
          ></path>
        </svg>
      </span>
    </div>
  </div>
</template>

<script lang="ts" setup>
const props = defineProps({
  text: {
    type: String,
    default: "Visit site",
  },
  href: {
    type: String,
    default: "#",
  },
});

const handleClickRedirect = (e: MouseEvent) => {
  e.preventDefault();
  if (!props.href) return;
  window.open(props.href);
};
</script>

<style lang="scss">
.VisitSiteButton {
  display: inline-block;
  min-width: 175px;
  margin-bottom: 24px;

  .visit-wrapper {
    width: 80%;
    padding: 12px 20px;
    cursor: pointer;
    background: linear-gradient(270deg, #f06449, #ef3636);
    color: #fff;
    position: relative;
    transition: all 0.3s;
    &:hover {
      .button-mask::after,
      .button-mask::before {
        transform: translateX(200%);
      }

      .button-arrow {
        transform: translateX(7px);
      }
    }
    .button-text {
      position: relative;
      z-index: 10;
      text-align: center;
      cursor: pointer;
      white-space: nowrap;
      font-size: 16px;
      font-family: $font-family;
    }

    /* button */

    .button-mask {
      content: "";
      width: 100%;
      height: 100%;
      /*background: linear-gradient(270deg, #235aa6, #213777);*/
      transition: transform 0.6s cubic-bezier(0.694, 0.048, 0.335, 1),
        -webkit-transform 0.6s cubic-bezier(0.694, 0.048, 0.335, 1);
      will-change: transform;
      position: absolute;
      overflow: hidden;
      top: 0;
      left: 0;
      &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        -webkit-transform: translateX(-110%);
        transform: translateX(-110%);
        background: linear-gradient(270deg, #235aa6, #101b3b);
        transition: transform 0.6s cubic-bezier(0.694, 0.048, 0.335, 1) 0.05s,
          -webkit-transform 0.6s cubic-bezier(0.694, 0.048, 0.335, 1) 0.05s;
        z-index: 1;
      }
      &:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        -webkit-transform: translateX(-110%);
        transform: translateX(-110%);
        z-index: 2;
      }
    }

    .button-arrow {
      position: absolute;
      top: 7px;
      right: -25px;
      width: 35px;
      height: 35px;
      transition: transform 0.3s cubic-bezier(0.694, 0.048, 0.335, 1);
      color: #fff;
      svg {
        width: 35px;
        height: 35px;
      }
    }
  }
}
</style>
