<template>
  <Html :class="`${theme === 'dark' ? 'dark' : ''}`" :lang="locale">
    <Body
      class="antialiased duration-300 transition-colors text-dark-800 bg-white dark:text-dark-200 dark:bg-dark"
    >
      <NuxtLayout>
        <NuxtPage />
      </NuxtLayout>
    </Body>
  </Html>
</template>

<script lang="ts" setup>
import { AppSetup } from "@/lib/project/app";
import { ITheme } from "@/lib/project/theme";
AppSetup();
const theme = useState<ITheme>("theme.current");
const locale = useState<string>("locale.setting");

</script>
