<template>
  <main name="test-page">
    <section name="1" class="content-width-boxed"  @click="handleClickPlay">
      <canvas id="canvas" ref="canvas" :width="rdata.cWidth"
        :height="rdata.cHeight"> </canvas>

      <canvas id="collision-canvas" ref="collisionCanvas" :width="rdata.cWidth"
        :height="rdata.cHeight"> </canvas>
    </section>
    <img id="img" style="display: none" ref="img" />
    <!-- <button class="play-btn" @click="handleClickPlay">Test</button> -->
  </main>
</template>

<script lang="ts" setup>
import imgRaven from "@/assets/images/games/test/raven.png";

// @declaration
const collisionCanvas = ref<HTMLCanvasElement | null>(null);
const collisionCanvasCtx = ref<CanvasRenderingContext2D | null>(null);
const canvas = ref<HTMLCanvasElement | null>(null);
const canvasCtx = ref<CanvasRenderingContext2D | null>(null);
const ravens = ref<Raven[]>([]);
const ravenInterval = 500;
const img = ref<HTMLImageElement>(null);
const CANVAS_WIDTH = 1170;
const CANVAS_HEIGHT = 700;
interface LocalState {
  cWidth: number;
  cHeight: number;
  lastTime: number;
  timeToNextRaven: number;
  img?: HTMLImageElement;
  gameSpeed: number;
  score: number;
}

const rdata = reactive<LocalState>({
  cWidth: CANVAS_WIDTH,
  cHeight: CANVAS_HEIGHT,
  lastTime: 0,
  timeToNextRaven: 500,
  img: undefined,
  gameSpeed: 5,
  score: 0,
});

class Raven {
  width: number;
  height: number;
  x: number;
  y: number;
  dirX: number;
  dirY: number;
  ctx: CanvasRenderingContext2D;
  collisionCtx: CanvasRenderingContext2D;
  markedForDeletion: boolean;
  image: HTMLImageElement;
  spriteWidth: number;
  spriteHeight: number;
  sizeModifier: number;
  frame: number;
  maxFrame: number;
  timeSinceSlap: number;
  flapInterval: number;
  randomColors: number[];
  color: string
  constructor() {
    this.spriteWidth = 271;
    this.spriteHeight = 194;
    this.sizeModifier = Math.random() * 0.6 + 0.4;
    this.width = this.spriteWidth * this.sizeModifier;
    this.height = this.spriteHeight * this.sizeModifier;
    this.x = canvas.value.width;
    this.y = Math.random() * (canvas.value.height - this.height);
    this.dirX = Math.random() * 5 + 3;
    this.dirY = Math.random() * 5 - 2.5;
    this.ctx = canvasCtx.value;
    this.collisionCtx = collisionCanvasCtx.value;
    this.markedForDeletion = false;
    this.image = new Image();
    this.image.src = imgRaven;
    this.frame = 0;
    this.maxFrame = 4;
    this.timeSinceSlap = 0;
    this.flapInterval = Math.random() * 50 + 50;
    this.randomColors = [Math.floor(Math.random() * 255),
      Math.floor(Math.random() * 255), Math.floor(Math.random() * 255)]
    this.color = 'rgb(' + this.randomColors[0] + ',' + this.randomColors[1] + ','
    + this.randomColors[2] + ')'
  }

  update(deltaTime: number) {
    if (this.y < 0 || this.y > canvas.value.height - this.height) {
      this.dirY = this.dirY * - 1;
    }
    this.x -= this.dirX;
    this.y += this.dirY;
    if (this.x + this.width < 0) this.markedForDeletion = true;
    this.timeSinceSlap += deltaTime;
    if (this.timeSinceSlap > this.flapInterval) {
      this.frame %= this.maxFrame;
      this.frame++;
      this.timeSinceSlap = 0;
    }
  }

  draw() {
    this.collisionCtx.fillStyle = this.color;
    this.collisionCtx.fillRect(this.x, this.y, this.width, this.height)
    // this.ctx.strokeRect(this.x, this.y, this.width, this.height);
    this.ctx.drawImage(
      this.image,
      this.frame * this.spriteWidth,
      0,
      this.spriteWidth,
      this.spriteHeight,
      this.x,
      this.y,
      this.width,
      this.height
    );
  }
}

onMounted(async () => {
  collisionCanvasCtx.value = collisionCanvas.value?.getContext("2d") ?? null;
  canvasCtx.value = canvas.value?.getContext("2d") ?? null;
  canvasCtx.value.font = "36px bold Poppins"
  const raven = new Raven();
  ravens.value.push(new Raven());
  animate(0);
});

const animate = (timestamp: number) => {
  canvasCtx.value.clearRect(0, 0, canvas.value.width, canvas.value.height);
  collisionCanvasCtx.value.clearRect(0, 0, canvas.value.width, canvas.value.height);
  let deltaTime = timestamp - rdata.lastTime;
  rdata.lastTime = timestamp;
  rdata.timeToNextRaven += deltaTime;
  if (rdata.timeToNextRaven > ravenInterval) {
    ravens.value.push(new Raven());
    rdata.timeToNextRaven = 0;
    ravens.value.sort((a: Raven, b:Raven) => {
      return a.width - b.width;
    })
  }
  // console.log('timesteamp: ', timestamp);
  // console.log('deltaTime: ', deltaTime);
  // console.log('timeToNextRaven: ', rdata.timeToNextRaven);
  // console.log("*******")
  // ravens.value.forEach(r => r.update(deltaTime));
  // ravens.value.forEach(r => r.draw());
  drawScore();
  [...ravens.value].forEach((raven) => raven.update(deltaTime));
  [...ravens.value].forEach((raven) => raven.draw());
  ravens.value = ravens.value.filter((raven) => !raven.markedForDeletion);
  requestAnimationFrame(animate);
};

const drawScore = () => {
  canvasCtx.value.fillStyle = 'black';
  canvasCtx.value.fillText('Score: ' + rdata.score, 20, 40)
  canvasCtx.value.fillStyle = 'white';
  canvasCtx.value.fillText('Score: ' + rdata.score, 20, 45)
}

const handleClickPlay = (e) => {
  let bounds = collisionCanvas.value.getBoundingClientRect();
  let x = e.x - bounds.left
  let y = e.y - bounds.top
  const detectPixelColor = collisionCanvasCtx.value.getImageData(x, y, 1, 1)
  const pc = detectPixelColor.data
  ravens.value.forEach(raven => {
    let flag = true;
    raven.randomColors.forEach((color, id) => {
      if (color !== pc[id]) flag = false; 
    })
    if (flag) {
      raven.markedForDeletion = true;
      rdata.score++;
    }
  })
};
</script>

<style lang="scss">
main[name="test-page"] {
  margin-top: calc(var(--header-height) + 70px);
  section[name="1"] {
    border: 1px solid black;
    position: relative;
    height: 700px;
    canvas {
      position: absolute;
      top: 0;
      left: 0;
    }
    #canvas {
      z-index: 10;
    }

    #collision-canvas {
      z-index: 1;
      opacity: 0;
    }
  }
  .play-btn {
    background-color: greenyellow;
    font-size: 16px;
    padding: 15px 30px;
    cursor: pointer;
    &:focus {
      outline: none;
    }
    @media only screen and (max-width: 480px) {
      font-size: 14px;
      padding: 6px 12px;
    }
  }
}
</style>
