<template>
  <main class="content-width-boxed">
    <ul>
      <li v-for="post of posts" :key="post._path">
        <nuxt-link :to="post._path"> {{ post.title }} </nuxt-link>
      </li>
    </ul>

  </main>
</template>

<script lang="ts" setup>
const posts = await queryContent("posts").find();
</script>

<style lang="scss"></style>
