<template>
  <div class="portfolio-card clickable " @click="toPost(props.post.route)">
    <figure name="post-thumbnail">
      <div class="category">{{ props.post.category }}</div>
      <Image :path="props.post.thumbnail" :alt="props.post.title" />
    </figure>

    <div class="post-item-content">
      <div>
        <p>{{ props.post.title }}</p>
      </div>
    </div>
  </div>
</template>

<script lang="ts" setup>
import { ParsedContent } from "@nuxt/content/dist/runtime/types";
import { RouteLocationRaw } from "vue-router";

const props = defineProps<{
  post: ParsedContent;
}>();

const toPost = (route: string | RouteLocationRaw) => {
  const router = useRouter();
  if (!route) return;
  router.push(route);
};

</script>

<style lang="scss">
html {
  /* --postcard-shadow: 0 24px 48px 0 rgba(0,0,0,.08);   */
  --postcard-shadow: 0px 4px 24px 0px rgba(79,114,205,.3);
  &.dark {
  --postcard-shadow: 4px 3px 30px rgb(252 186 41 / 31%); 
  }
}
.portfolio-card {
  border-radius: 24px;
  height: 340px;
  position: relative;
  //
  --animation-offset: 7px;
  --card-offset: calc(var(--animation-offset) * -1);
  --before-offset: calc(var(--animation-offset) * 2);
  transition: all 0.3s ease;
  &::before {
    content: "";
    z-index: -2;
    background-color: #fcba28;
    transition: all 0.3s ease;
    opacity: 1;
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    box-shadow: var(--postcard-shadow);
  }

  &.loadingImg::before {
    background-color: transparent;
  }

  &:hover {
    z-index: 0;
    /*box-shadow: var(--shadow-box);*/
    /* transform: scale(1.09); */
    transform: translate(var(--card-offset), var(--card-offset));
    &::before {
      transform: translate(var(--before-offset), var(--before-offset));
    }
    figure[name="post-thumbnail"] {
      .category {
        z-index: 20;
        opacity: 1;
        transform: translateY(0);
      }
    }

    /*
to move from bot to top transition

    .post-item-content {
      z-index: 10;
      transform: translateZ(0);
      opacity: 0.9;
      height: 100%;
      p {
        margin-top: 100px;
      }
    }
    */
  }
  figure[name="post-thumbnail"] {
    position: relative;
    height: 270px;
    overflow: hidden;

    .category {
      color: #fff;
      background: var(--color-primary);
      border-bottom-left-radius: 15px;
      border-bottom-right-radius: 15px;
      font-size: 14px;
      opacity: 0;
      display: inline-block;
      padding: 3px 10px;
      position: absolute;
      top: 0;
      left: 20px;
      transform: translateY(-40px);
      transition: all cubic-bezier(0.075, 0.82, 0.165, 1) 1s;
    }
    img {
      object-fit: fill;
      width: 100%;
      height: 100%;
    }
  }

  .post-item-content {
    /* to move from bot to top transition
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    transition: all 0.6s ease;
    transform: translate3d(0, calc(100% - 70px), 0);*/

    height: 70px;
    background: $color-indigo;
    padding-left: 20px;
    display: flex;
    align-items: center;
    p {
      @include typo-default;
      font-size: 24px;
    }
  }
}
</style>
