<template>
  <div class="SkillCard" v-motion :variants="cardVariants">
    <div class="container">
      <div
        class="header"
        v-motion
        :variants="headerVariants"
        :class="{ headerHasNoGLetter: !props.header.includes('g') }"
      >
        {{ header }}
        <div class="header-child" v-motion :variants="headerChildVariants">
          {{ header }}
        </div>
      </div>

      <div class="skill-item  sm:(mt-30 mb-20 px-12) lg:(mt-40 mb-20 px-40) flex flex-wrap justify-center">
        <Tag
          v-for="(item, index) in props.tagList"
          :key="index"
          :colorIndex="index"
          class=" sm:mb-10 lg:mb-20"
        >
          {{ item }}
        </Tag>
      </div>
    </div>
  </div>
</template>

<script lang="ts" setup>
import { useMotion } from "@vueuse/motion";

const props = defineProps({
  header: {
    type: String,
    default: "title",
  },
  tagList: {
    type: Array,
    defautl: [],
  },
});

const cardVariants = {
  initial: {
    scale: 0,
  },
  visibleOnce: {
    scale: 1,
    transition: {
      duration: 1000,
      ease: [0.79, -0.01, 0, 0.99],
    },
  },
};

const headerVariants = {
  initial: {
    transform: "translate(0%, -50%) scaleY(0)",
  },
  visibleOnce: {
    transform: "translate(0%, -50%) scaleY(1)",
    transition: {
      delay: 900,
    },
  },
};

const headerChildVariants = {
  initial: {
    width: "0%",
  },
  visibleOnce: {
    width: "100%",
    transition: {
      delay: 1000,
      duration: 400,
    },
  },
};

const headerEl = ref<HTMLElement>();
</script>

<style lang="scss" scoped>
.SkillCard {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 70px;
  margin-bottom: 70px;
  .container {
    position: relative;
    width: 100%;
    border: 4px solid var(--color-primary);
    display: flex;
    justify-content: center;
    padding-top: 16px;
    .header {
      position: absolute;
      top: 0;
      left: 5%;
      color: var(--color-primary);
      overflow: hidden;
      padding-left: 0.25rem;
      padding-right: 0.25rem;
      height: 70px;
      line-height: 1;
      .header-child {
        line-height: 1;
        position: absolute;
        top: 0;
        left: 0;
        color: var(--color-dark);
        background-color: var(--color-primary);
        height: 100%;
        overflow: hidden;
        padding: 0 0.25rem;
        display: inline-block;
      }
    }

    .header,
    .header-child {
      font-size: 60px;
      font-family: $font-family;
      font-weight: 900;
    }

    .header.headerHasNoGLetter {
      padding-top: 6px;
      .header-child {
        padding-top: 6px;
      }
    }

  }
  @media only screen and (max-width: 480px) {
    .container {
      .header {
        height: 42px;
      }
      .header,
      .header-child {
        font-size: 32px;
        font-family: $font-family;
        font-weight: 900;
      }
    }
  }
}
</style>
