<template>
  <button class="SwitchTheme" @click="switchTheme">
    <svg
      width="18"
      height="18"
      viewBox="0 0 18 18"
      style="transform: rotate(40deg)"
      class="MoonOrSun cwrIs"
    >
      <mask id="moon-mask-main-nav">
        <rect x="0" y="0" width="18" height="18" fill="#FFF"></rect>
        <circle cx="10" cy="2" r="8" fill="black"></circle>
      </mask>
      <circle
        cx="9"
        cy="9"
        fill="var(--color-foreground)"
        mask="url(#moon-mask-main-nav)"
        r="8"
        class="main-circle"
      ></circle>
      <g>
        <circle
          cx="17"
          cy="9"
          r="1.5"
          fill="var(--color-foreground)"
          style="transform-origin: center center 0px; transform: scale(0)"
        ></circle>
        <circle
          cx="13"
          cy="15.928203230275509"
          r="1.5"
          fill="var(--color-foreground)"
          style="transform-origin: center center 0px; transform: scale(0)"
        ></circle>
        <circle
          cx="5.000000000000002"
          cy="15.92820323027551"
          r="1.5"
          fill="var(--color-foreground)"
          style="transform-origin: center center 0px; transform: scale(0)"
        ></circle>
        <circle
          cx="1"
          cy="9.000000000000002"
          r="1.5"
          fill="var(--color-foreground)"
          style="transform-origin: center center 0px; transform: scale(0)"
        ></circle>
        <circle
          cx="4.9999999999999964"
          cy="2.071796769724492"
          r="1.5"
          fill="var(--color-foreground)"
          style="transform-origin: center center 0px; transform: scale(0)"
        ></circle>
        <circle
          cx="13"
          cy="2.0717967697244912"
          r="1.5"
          fill="var(--color-foreground)"
          style="transform-origin: center center 0px; transform: scale(0)"
        ></circle>
      </g>
    </svg>

  </button>
</template>

<script lang="ts" setup>
import { gsap } from "gsap";
import { ITheme } from "~~/client/lib/project/theme";
let tl = gsap.timeline({ paused: true });

const theme = useState<ITheme>("theme.current");
onMounted(() => {
  tl.to(".MoonOrSun", {
    rotation: 90,
    duration: 0.3,
  }, 'switch');
  const maskCircle  = document.querySelector('#moon-mask-main-nav circle');
  tl.to(maskCircle, {
    cx: 25,
    cy: 0,
    r: 8,
    duration: 0.3,
  },'switch');
  tl.to('.main-circle', {r: 5}, 'switch');

  for (let i = 1; i <= 6; i++) {
    let child = document.querySelector(`g circle:nth-child(${i})`)
    tl.to(child, { transform: 'scale(1)', duration: 0.2 });
  }


})


const switchTheme = () => {
  theme.value = theme.value === "dark" ? "light" : "dark";
  if (theme.value === "light") {
    tl.play();
  } else {
    tl.reverse();
  }
};
</script>

<style lang="scss">
.SwitchTheme {
  opacity: 0.7;
  position: relative;
  border-radius: 5px;
  width: 40px;
  height: 32px;
  display: flex;
  -moz-box-align: center;
  align-items: center;
  -moz-box-pack: center;
  justify-content: center;
  margin: 0px;
  padding: 0px;
  border: medium none;
  background: transparent none repeat scroll 0% 0%;
  cursor: pointer;
  text-align: left;
  font: inherit;
  &::selection {
    background-color: var(--selection-background, var(--color-primary));
    color: var(--selection-text, white);
    -webkit-text-fill-color: var(--selection-text) !important;
    background-image: none !important;
    text-shadow: none !important;
    background-clip: revert !important;
  }
  .MoonOrSun {
  }

  .cwrIs {
    position: relative;
    overflow: visible;
  }
}
</style>
