<template>
  <main class="p5-shooter content-width-boxed">
    <section name="p5-1">
      <h1> Hey <span class="p5-1__deadline">Deadline </span>, meet your maker </h1>
      <P5Wrapper :sketch="sketch" class="flex-center" />
    </section>
  </main>
</template>

<script lang="ts" setup>
import p5 from "p5";
import repeat from "@/assets/icons/repeat.svg";
import basiccannon from "@/assets/images/games/shooter-text/basic-cannon.png";
import spritedata from "@/assets/images/games/shooter-text/basic-cannon.json";
import groundtile from "@/assets/images/games/shooter-text/ground.png";
import eibitfont from "@/assets/fonts/SHPinscher-Regular.otf"
import { Engine, World, MouseConstraint, Body, Events } from "matter-js";
import { Cannon, Ground, TextBox } from "./shooter";

const KEY_CODES = {
  space: " ",
  left: "ArrowLeft",
  right: "ArrowRight",
  up: "ArrowUp",
  down: "ArrowDown",
};

const sketch = (p5: p5) => {
  let font: p5.Font;
  let engine: Matter.Engine;
  let world: Matter.World;
  let mConstraint: MouseConstraint;
  let ground: Ground;
  let groundTile: p5.Image;
  let groundHeight = 20;
  let numOfGTile = 20;
  let texts: TextBox[] = [];
  let wordsWidth: number[] = [];
  const txt = "Deadline";
  let fontSize = 80;
  //
  let spritesheet: p5.Image;
  // let spritedata;
  let cannon: Cannon;
  let wheelImg: p5.Image;
  let cannonImg: p5.Image;

  p5.preload = () => {
    font = p5.loadFont(eibitfont);
    spritesheet = p5.loadImage(basiccannon);
    groundTile = p5.loadImage(groundtile);
  };
  p5.windowResized = () => {
    if (p5.windowWidth <= 480) {
      p5.resizeCanvas(300, 300);
    }
  };

  p5.setup = () => {
    const canvas = p5.createCanvas(800, 400);
    if (p5.windowWidth <= 480) {
      p5.resizeCanvas(300, 300);
    }
    // p5.push();
    for (let i = 0; i < txt.length; i++) {
      let char = txt[i];
      wordsWidth.push(p5.textWidth(char));
    }
    resetSketch();
    // let button = p5.createButton('reset');
    // reloadImg.clicked(resetSketch);
    let button = p5.createImg(repeat, "reload");
    // button.position(20, 20);
    button.size(20, 20);
    button.style("fill", "#fff");
    button.mousePressed(resetSketch);
  };

  const resetSketch = () => {
    // p5.pop();
    if (world) World.clear(world, true);
    if (engine) Engine.clear(engine);
    engine = Engine.create();
    world = engine.world;
    Events.on(engine, "collisionStart", (event) => {
      event.pairs.forEach((pair) => {
        const { bodyA, bodyB } = pair;

        // bodyA.render.opacity = 0.75;
        // bodyB.render.opacity = 0.75;

        // Detecting collisions between the floor and anything else
        if (bodyA === cannon.bullet || bodyB === cannon.bullet) {
          console.log("Something hit the bullet!");

          // The conditional ternary operator is a shorthand for an if-else conditional. Here, we use it
          // to access whichever body is not the floor.

          const otherBody = bodyB === cannon.bullet ? bodyA : bodyB;
          let text: TextBox = texts.find((text) => text.body === otherBody);
          if (text) {
            Body.setStatic(text.body, false);
          }

          // otherBody.render.fillStyle = "red";
        }

        // Detecting collisions between the floor and the circle
        //let ground = walls[0];
        // if (bodyA === walls[0].body || bodyB === walls[0].body) {
        //   const otherBody = bodyB === cannon.bullet ? bodyA : bodyB;
        //   let text: TextBox = texts.find((text) => text.body === otherBody);
        //   console.log("text hit floor");
        //   if (text) {
        //     setTimeout(() => {
        //       // World.remove(world, text.body);
        //       text.onGround = true;
        //     }, 1800);
        //   }
        // }
      });
    });

    ground = new Ground(p5, p5.width / 2, p5.height, p5.width, groundHeight);

    initGround();
    initTexts();
    let wheelPos = spritedata.images.wheel.position;
    wheelImg = spritesheet.get(wheelPos.x, wheelPos.y, wheelPos.w, wheelPos.h);
    wheelImg.resize(70, 0);
    let cannonPos = spritedata.images.cannon.position;
    cannonImg = spritesheet.get(
      cannonPos.x,
      cannonPos.y,
      cannonPos.w,
      cannonPos.h
    );
    cannonImg.resize(100, 0);
    if (p5.windowWidth <= 480) {
      wheelImg.resize(40, 0);
      cannonImg.resize(50, 0);
    }
    initCannon();
  };

  const initGround = () => {
    let sideLength = p5.width / numOfGTile;
    groundTile.resize(sideLength, 0);
  };

  const initTexts = () => {
    if (texts.length) {
      texts = [];
    }
    let options = { isStatic: true };
    // let options = { restitution: 0.7, friction: 0.2, isStatic: false };
    let initX = p5.width / 2 - 100;
    let initY = p5.height / 2 - 150;
    let lastX = initX;
    if (p5.windowWidth <= 480) {
      initX = p5.width / 2 - 50;
      initY = 100;
      fontSize = 40;
    }
    for (let i = 0; i < txt.length; i++) {
      let char = txt[i];
      let wordWidth = wordsWidth[i];
      let x = lastX + wordWidth + 20;
      if (char === "l") x -= 3;
      if (char === "i") x -= 8;
      if (char === "n") x -= 6;
      texts.push(new TextBox(p5, x, initY, wordWidth, fontSize, options));
      lastX = x;
    }
    texts.forEach((t) => World.add(world, t.body));
  };

  const initCannon = () => {
    let cannonPos = spritedata.images.cannon.position;
    let initY = p5.height - cannonPos.h / 2;
    if (p5.windowWidth <= 480) {
      initY = p5.height - 30;
    }
    cannon = new Cannon(
      p5,
      cannonImg,
      world,
      p5.width / 2,
      initY,
      cannonPos.w,
      cannonPos.h
    );
    World.add(world, cannon.bullet);
  };

  p5.draw = () => {
    p5.background("#353353");
    Engine.update(engine);

    p5.strokeWeight(0);
    // showText
    p5.textSize(fontSize);

    for (let i = 0; i < texts.length; i++) {
      let char = txt[i];
      let wordWidth = p5.textWidth(char);
      texts[i].show(char, wordWidth, fontSize, font);
    }

    // showGround
    let sideLength = p5.width / numOfGTile;
    let yTile = p5.height - sideLength;
    let xTile = 0;
    for (let i = 0; i < numOfGTile; i++) {
      p5.image(groundTile, xTile, yTile);
      xTile += sideLength;
    }

    // showCannon
    cannon.show();
    p5.image(
      wheelImg,
      p5.width / 2 - wheelImg.width / 2,
      p5.height - wheelImg.height
    );
  };
  p5.keyPressed = () => {
    if (p5.key === KEY_CODES.space) {
      // texts.forEach((text) => Body.setStatic(text.body, false));
      // World.remove(world, bird.body);
      // bird = new Bird(p5, p5.width/2, 300, 16);
      // World.add(world, bird.body);
      if (cannon.checkAtInitPos()) {
        cannon.shot();
      } else {
        cannon.initBullet();
        cannon.shot();
      }
      // console.log(cannon.bullet);
      return false;
    }
  };

  p5.mouseClicked = () => {
    // console.log(walls[0].body);
    if (cannon.checkAtInitPos()) {
      cannon.shot();
    } else {
      cannon.initBullet();
      cannon.shot();
    }
  };

  p5.mouseReleased = () => {
    setTimeout(() => {}, 50);
  };
};
</script>

<style lang="scss">
.p5-shooter {
  section[name="p5-1"] {
    img {
      filter: $filter-red;
    }
    .p5-1__deadline {
      color: $color-pink
    }
  }
}
</style>
