<template>
  <main class="p5-magic-tiles content-width-boxed">
    <section name="p5-1">
      <P5Wrapper :sketch="sketch" class="flex-center" />
    </section>
  </main>
</template>

<script lang="ts" setup>
import p5 from "p5";
import eibitfont from "@/assets/fonts/SHPinscher-Regular.otf"
import {KEY_CODES, BREAKPOINTS_MOBILE} from "@/constants/"

const sketch = (p5: p5) => {
  const cWidth = 800;
  const cHeight = 400;
  const cMobileWidth = 300;
  const cMobileHeight = 300;
  let font: p5.Font;
  const txt = "Deadline";
  let fontSize = 80;
  //
  let spritesheet: p5.Image;
  // let spritedata;

  p5.preload = () => {
    font = p5.loadFont(eibitfont);
  };

  p5.windowResized = () => {
    if (p5.windowWidth <= BREAKPOINTS_MOBILE) {
      p5.resizeCanvas(300, 300);
    }
  };

  p5.setup = () => {
    const canvas = p5.createCanvas(800, 400);
    if (p5.windowWidth <= 480) {
      p5.resizeCanvas(300, 300);
    }
    // p5.push();
    resetSketch();
  };

  const resetSketch = () => {

  };

  p5.draw = () => {
    p5.background("#353353");
  };

  p5.keyPressed = () => {
    if (p5.key === KEY_CODES.space) {
      return false;
    }
  };

  p5.mouseClicked = () => {

  };
}

</script>

<style lang="scss">
.p5-magic-tiles {
  section[name="p5-1"] {
    img {
      filter: $filter-red;
    }
  }
}
</style>
