<template>
  <main class="homepage mt-200">
    <section
      name="introduction"
      class="flex flex-col items-center gap-16 content-width-boxed"
    >
      <img alt="avatar" src="@/assets/images/img-avatar-1.svg" class="box" />
      <h2 class="mt-24 name-title">NDKhoa</h2>
      <VueWriter
        class="home-vuewriter"
        :array="typewriter"
        :eraseSpeed="60"
        :typeSpeed="120"
      >
        I'm a
      </VueWriter>
      <!-- <Button class="hire-btn" @click="toggleTransition"> Hire Me </Button> -->
    </section>

    <section
      name="Skills"
      id="skills"
      class="content-width-boxed sm:mt-314 lg:mt-360"
    >
      <h1 class="sm:text-32 lg:text-60">{{ HEADINGS.skills.text }}</h1>
      <p class="mt-20 sm:text-16 lg:text-20">{{ HEADINGS.skills.desc }}</p>

      <SkillCard
        :header="'Language'"
        :tagList="['C#/C-sharp', 'Javascript', 'Typescript']"
      ></SkillCard>

      <SkillCard
        :header="'Game Dev'"
        :tagList="['Cocos Creator', 'Unity', 'Luna(Unity) Playwork']"
      ></SkillCard>

      <SkillCard
        :header="'Web Dev'"
        :tagList="[
          'React',
          'NextJs',
          'Vue',
          'NuxtJs',
          'MaterialUI',
          'Ant Design',
          'TailwindCss',
          'NodeJS',
          'Express',
          'Wordpress',
          'Elementor',
          'Jquery',
          'Figma',
          'Zeplin',
        ]"
      ></SkillCard>

      <SkillCard
        :header="'Dev Tools'"
        :tagList="['Vim/Neovim', 'VSCode', 'Docker']"
      ></SkillCard>

      <SkillCard
        :header="'Version Control'"
        :tagList="['Github', 'Gitlab']"
      ></SkillCard>

      <SkillCard :header="'OS'" 
        :tagList="['MX Linux', 'Pop-OS', 'Mac', 'Windows']">

      </SkillCard>
    </section>

    <section id="slogan" name="slogan" class="content-width-boxed pt-360">
      <ul class="list-inline slogan" ref="root">
        <template v-for="(item, index) in SLOGAN" :key="index">
          <li v-if="index !== 2">
            <img :src="item.iconUrl" :alt="item.name" />
            <h3 class="mt-24">{{ item.name }}</h3>
          </li>
          <li v-else ref="target" class="game-controller">
            <img :src="item.iconUrl" :alt="item.name" />
            <h3 class="mt-24">{{ item.name }}</h3>
          </li>
        </template>
      </ul>
    </section>

    <section id='p5-shooter' name="p5-shooter" class="content-width-boxed py-160">
      <p5shooter class=""/>
    </section>

    <section name="posts" class="content-width-boxed mt-70" id="works">
      <h1 class="sm:text-32 lg:text-60">{{ HEADINGS.works.text }}</h1>
      <p class="mt-20 sm:text-16 lg:text-20">{{ HEADINGS.works.desc }}</p>
      <ul class="list-inline mt-24 sm:h-36 lg:h-50">
        <li
          v-for="(item, index) in BLOG"
          :key="index"
          @click="filterCats(item.text, index)"
          class="clickable"
          :class="{
            'active-cat': data.activeCatIndex === index,
            textHasNoG: !item.text.includes('g'),
          }"
        >
          {{ item.text }}
        </li>
      </ul>

      <div class="grid sm:grid-cols-1 lg:grid-cols-3 gap-60 mt-36">
        <template v-for="(post, index) in data.visiblePosts" :key="index">
          <PostCard :post="post" />
        </template>
      </div>
    </section>
  </main>
</template>

<script lang="ts" setup>
import { useIntersectionObserver } from "@vueuse/core";
import { gsap } from "gsap";
import { ScrollTrigger } from "gsap/ScrollTrigger";
if (process.client) {
  gsap.registerPlugin(ScrollTrigger);
}
import spoon from "@/assets/icons/spoon.svg";
import code from "@/assets/icons/terminal.svg";
import gameController from "@/assets/icons/game-controller.svg";
import iconSleep from "@/assets/icons/icon-sleep.svg";
import repeat from "@/assets/icons/repeat.svg";
/*=================================================================*/
/*                      @Constant
/*=================================================================*/

const locale = useState<string>("locale.setting");
const typewriter = ["Game and Front End Developer"];
const { t } = useLang();
const { data: posts } = await useAsyncData(
  "all-posts",
  () =>
    queryContent(locale.value, "posts")
      .where({ title: { $ne: "posts" } })
      .where({ title: { $ne: "Bài viết" } })
      .find(),
  { watch: [locale] }
);
console.log(posts.value)

const HEADINGS = computed(() => {
  return {
    skills: {
      text: t("page.home.headings.skills.text"),
      desc: t("page.home.headings.skills.desc"),
    },
    works: {
      text: t("page.home.headings.works.text"),
      desc: t("page.home.headings.works.desc"),
    },
  };
});

const SLOGAN = [
  {
    name: "Eat",
    iconUrl: spoon,
  },
  {
    name: "Code",
    iconUrl: code,
  },
  {
    name: "Play",
    iconUrl: gameController,
  },
  {
    name: "Sleep",
    iconUrl: iconSleep,
  },
  {
    name: "Repeat",
    iconUrl: repeat,
  },
];

const BLOG = [
  {
    id: 1,
    text: "Everything",
  },
  {
    id: 2,
    text: "Game",
  },
  {
    id: 3,
    text: "Web",
  },
  {
    id: 4,
    text: "Blog",
  },
];

/*=================================================================*/
/*                      @DATA-REACTIVE
/*=================================================================*/

const data = reactive({
  visiblePosts: posts.value,
  activeCatIndex: 0,
});

watch(posts, () => {
  data.visiblePosts = posts.value;
});

// handle slogan section
const root = ref(null);
const target = ref<HTMLElement>(null);
useIntersectionObserver(root, ([{ isIntersecting }]) => {
  if (!target.value) return;
  // if (target.value[0].className.includes("play")) return;
  target.value[0].hidden = true;
  setTimeout(() => {
    target.value[0].hidden = false;
    target.value[0].className += " play";
  }, 1200);

  // setTimeout(() => {
  //   if (target.value[0].className) target.value[0].className = "";
  // }, 3500);
});

let tl = gsap.timeline();
onMounted(() => {
  // tl.set('.game-controller', {scale: 0});
  // tl.to('.game-controller', {
  //   scrollTrigger: {
  //     trigger: '.slogan',
  //     start: "top 60%",
  //     end: "top 20%",
  //     markers: true,
  //   },
  //   scale: 1/5,
  //   duration: 2,
  // })
});

// handle blogs section
const filterCats = (cat: string, index: number) => {
  if (!posts) return;
  let tmp = cat.trim().toLowerCase();
  if (tmp === "everything") data.visiblePosts = posts.value;
  else {
    data.visiblePosts = posts.value.filter(
      (e) => e.category.trim().toLowerCase() === tmp
    );
  }

  data.activeCatIndex = index;
};
</script>

<style lang="scss">
.homepage {
  margin-bottom: 100px;

  section[name="introduction"] {
    h2.name-title {
      text-align: center;
      font-size: 80px;
      background: linear-gradient(
        271deg,
        #a0e9ff 30%,
        #a162e8 50%,
        #f093b0 70%,
        #edca85 94%
      );
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    .home-vuewriter {
      font-size: 20px;
      color: var(--color-foreground);
      span.cursor {
        height: 28px;
        width: 14px;
      }
    }

    .hire-btn {
      &:hover {
        transform: scale(1.3);
      }
    }
  }

  section[name="slogan"] {
    display: flex;
    justify-content: center;

    .list-inline {
      column-gap: 70px;
    }

    li {
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;

      img {
        width: 146px;
        object-fit: cover;
        filter: $filter-red;
      }
    }
    @media only screen and (max-width: 480px) {
      .list-inline {
        column-gap: 10px;
        h3 {
          font-size: 16px;
        }
      }
      img {
        width: 36px;
      }
    }

    @keyframes example {
      0% {
        transform: translateY(-100px) scale3d(0.96, 0.96, 1);
      }
      10% {
        transform: translateY(120px) scale3d(1.1, 1.1, 1);
      }
      30% {
        transform: translateY(-80px) scale3d(0.98, 0.98, 1);
      }
      40% {
        transform: translateY(100px) scale3d(1.05, 1.05, 1);
      }
      50% {
        transform: translateY(-60px) scale3d(0.9, 0.9, 1);
      }
      60% {
        transform: translateY(70px) scale3d(1.04, 1.04, 1);
      }
      70% {
        transform: translateY(-40px) scale3d(0.89, 0.89, 1);
      }
      80% {
        transform: translateY(30px) scale3d(1.03, 1.03, 1);
      }
      90% {
        transform: translateY(-20px) scale3d(0.85, 0.85, 1);
      }
      100% {
        transform: translateY(0) scale3d(1, 1, 1);
      }
    }
    .play {
      animation: example 3s ease forwards;
    }
  }

  section[name="test-canvas"] {
    canvas {
      border: 1px solid black;
    }
  }

  section[name="posts"] {
    ul {
      color: #fff;
      font-size: 24px;
      line-height: 1.7;
      padding-left: 0;

      li {
        padding: 0 24px;

        &.active-cat {
          padding-top: 2px;
          background-color: var(--color-primary);
          border-radius: 40px;
        }

        &.textHasNoG {
          padding-top: 2px;
        }
      }
    }

    @media only screen and (max-width: 480px) {
      ul {
        font-size: 16px;
        font-weight: 700;
        column-gap: 16px;
        li {
          &.active-cat {
            padding-top: 3px;
          }
          &.active-cat.textHasNoG {
            padding-top: 4px;
          }
        }
      }
    }
  }
}
</style>
