html {
  /*=================================================================*/
  /*                              BODY@COLOR                              
/*=================================================================*/
  --color-primary: #ff4c60;
  // --color-primary: #f20a72;
  // --color-primary-shade: #e6096c;
  // --color-primary-tint: #ff2286;
  // --color-primary-light: #ff6cae;

  // --color-secondary: #e6db74;
  --color-secondary: #6c6ce5;
  // --color-secondary-shade: #cac166;
  // --color-secondary-tint: #eee69e;
  // --color-secondary-light: #f3fcd9;
  // --color-secondary-text: #c5c2b8;

  --color-white: #fffdf9;

  // --color-dark: #20252c;
  --color-dark: #353353;
  --color-dark-black: #191e23;
  --color-dark-shade: #1c2127;
  --color-dark-tint: #363b41;
  --color-dark-light: #63666b;

  --color-background: #fffdf9;
  // --color-background: #fbfcfe;
  --color-foreground: #1f2023;

  --color-bg-opposite: #353353;
  --color-fg-opposite: #fffdf9;

  --color-border: #1f2023;
  --border-primary: 1px solid var(--color-primary);

  --shadow-color: #4f46e5;
  --shadow-colored: 0 4px 6px -1px var(--shadow-color),
    0 2px 4px -2px var(--shadow-color);
  --shadow-box: 0 0 #000, 0 0 #000, var(--shadow-colored);

  --color-green: #3ba676;
  --color-green-50: #b4e4cf;
  --color-green-100: #a5dfc5;
  --color-green-200: #87d4b2;
  --color-green-300: #69ca9e;
  --color-green-400: #4bbf8b;
  --color-green-500: #3ba676;
  --color-green-600: #2c7d59;
  --color-green-700: #1e533b;
  --color-green-800: #0f2a1e;
  --color-green-900: #000;
  color: var(--color-foreground);
  &.dark {
    // bg, fg
    --color-background: #353353;
    --color-foreground: #efefef;

    --color-bg-opposite: #fffdf9;
    --color-fg-opposite: #1f2023;
    // border
    --color-border: rgba(255, 255, 255, 0.1);

    //shadow
    --shadow-color: #efefef;
  }

  // HTML@TYPOGRAPHY
  font-family: $font-family;
  font-size: 16px;
  line-height: 1.7;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  //layout-dimension
  --content-width: 1170px;
  --header-height: 70px;
  @media only screen and (max-width: 480px) {
    --content-width: 327px;
    font-size: 12px;
    line-height: 1.7;
  }
}

::selection {
  background-color: $color-green;
  color: var(--color-foreground);
  z-index: -10;
}

/*=================================================================*/
/*                            @divider                              
/*=================================================================*/
.divider {
  height: 1px;
  background: #d8d8d8;
}

.helper-text {
  font-size: 14px !important;
  font-family: $font-family !important;
}

ul {
  margin: 0;
  padding: 0;
  padding-inline-start: 0;
  list-style-type: none;
}

.list-inline {
  display: flex;
  column-gap: 40px;
}

.text-capitalize {
  text-transform: capitalize !important;
}

/*=================================================================*/
/*                      blur                              
/*=================================================================*/
.blur {
  filter: blur(16px);
}

/*=================================================================*/
/*                      BORDER                              
/*=================================================================*/
.border-primary {
  border-color: var(--color-primary);
}

.bg-primary {
  background-color: var(--color-primary);
}

/*=================================================================*/
/*                      @CURSOR
/*=================================================================*/
.clickable {
  cursor: pointer;
}

/*=================================================================*/
/*                      @MEDIA
/*=================================================================*/
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

img {
  object-fit: cover;
}

figure {
  margin: 0;
}

/*=================================================================*/
/*                            @selection                              
/*=================================================================*/
::selection {
  background-color: $color-green;
  color: var(--color-foreground);
}

/*=================================================================*/
/*                            @pagetransition                              
/*=================================================================*/
// $t-duration: 800ms;
// $t-delay: 300ms;
// .page-enter-active,
// .page-leave-active {
//   transition-duration: $t-duration * 2;
//   &::before,
//   &::after {
//     content: "";
//     position: fixed;
//     top: 0;
//     left: 0;
//     z-index: 2;
//     display: block;
//     width: 100%;
//     height: 50%;
//     transition-property: opacity, transform;
//     transition-timing-function: ease-in-out;
//   }
//
//   &::before {
//     background-color: #2e2e2e;
//   }
//
//   &::after {
//     top: 50%;
//     background-color: #2e2e2e;
//   }
// }
//
// .page-enter-active {
//   &::before {
//     transition-duration: $t-duration;
//   }
//
//   &::after {
//     transition-duration: $t-duration - $t-delay;
//     transition-delay: $t-delay;
//   }
// }
//
// .page-leave-active {
//   &::before {
//     transition-duration: $t-duration;
//   }
//
//   &::after {
//     transition-duration: $t-duration - $t-delay;
//     transition-delay: $t-delay;
//   }
// }
//
// .page-enter {
//   &::before,
//   &::after {
//     transform: scaleX(1);
//   }
// }
// .page-enter-to {
//   &::before,
//   &::after {
//     transform: scaleX(0);
//     transform-origin: right;
//   }
// }
//
// .page-leave {
//   &::before,
//   &::after {
//     transform: scaleX(0);
//   }
// }
// .page-leave-to {
//   &::before,
//   &::after {
//     transform: scale(1);
//     transform-origin: left;
//   }
// }
// ------------------------------------------------------
//
.page-enter-active {
  transition: all 0.3s ease-in-out;
}

.page-leave-active {
  transition: all 0.3s cubic-bezier(1, 0.5, 0.8, 1);
}

.page-enter-from,
.page-leave-to {
  transform: translateY(20px);
  opacity: 0;
}

//------------------------------------------------------
// .layout-enter-active {
//   transition: all 0.1s ease-out;
// }
// .layout-leave-active {
//   transition: all 0.3s cubic-bezier(1, 0.5, 0.8, 1);
// }
// .layout-enter-from,
// .layout-leave-to {
//   transform: translateY(-20px);
//   opacity: 0;
// }
/*=================================================================*/
/*                      @TYPOGRAPHY                              
/*=================================================================*/
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-family;
  font-weight: 700;
  margin: 0 0;
  line-height: 1;
}

h1 {
  font-size: 60px;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 32px;
}

h4 {
  font-size: 20px;
}

a {
  outline: 0;

  &:hover,
  &:active {
    color: $color-green;
  }

  &:focus {
    outline: 0;
  }
}

input {
  padding: 4px 8px;
  border: 1px solid black;
  border-radius: 2px;
}

h1,
h2,
h3,
h4,
h5,
h6,
li,
a,
p {
  color: var(--color-foreground);
}

p {
  margin: 0;
}

@media only screen and (max-width: 480px) {
h1 {
  font-size: 36px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 28px;
}

h4 {
  font-size: 24px;
}
}

/*=================================================================*/
/*                      RESPONSIVE                              
/*=================================================================*/

.content-width-boxed {
  max-width: var(--content-width);
  margin-left: auto;
  margin-right: auto;
}

/* desktop max-width-content: 1170px */
@media screen and (min-width: 1068px) {
}

/* tablet max-width-content: 768px  */
@media screen and (max-width: 1024px) {
}

/* mobile max-width-content: 327px  */
@media screen and (max-width: 480px) {
  .content-width-boxed {
    max-width: var(--content-width);
    margin-left: auto;
    margin-right: auto;
  }
}

// /*Ipad dọc(768 x 1024)*/
// @media screen and (max-width: 768px){
//
// }
//
// /*Tablet nhỏ(480 x 640)*/
// @media screen and (max-width: 480px){
//
// }
//
// /*Iphone(480 x 640)*/
// @media screen and (max-width: 320px){
//
// }
//
// /*Smart phone nhỏ*/
// @media screen and (max-width: 240px){
//
// }
//
