.is-typed {
  font-family: $font-family;
}

.is-typed span.typed {
  color: var(--color-foreground);
}

.is-typed span.cursor {
  display: inline-block;
  width: 11px;
  background-color: $color-white;
  animation: blink 1s infinite;
}

.is-typed span.underscore {
  display: inline-flex;
  width: 10px;
  height: 1px;
  align-items:flex-end;
  background-color: black;
  animation: cursor-blink 1s infinite;
}

.is-typed span.cursor.typing {
  animation: none;
}

@keyframes cursor-blink {
  49% {
    background-color: $color-white;
  }
  50% {
    background-color: transparent;
  }
  99% {
    background-color: transparent;
  }
}
