<template>
  <main class="p5-magic-tiles content-width-boxed">
    <section name="p5-1">
      <h3 class="text-center mt-95 mb-20">Magic Tiles Clone</h3>
        <Button ref="btn" @click="handleClick" class="playBtn">
        {{buttonTxt}}
        </Button>
      <P5Wrapper :sketch="sketch" class="flex-center" />
      <!-- <h3 class="text-center"> Not implemented yet: mobile version, replay</h3> -->
    </section>
  </main>
</template>

<script lang="ts" setup>
import p5 from "p5";
import eibitfont from "@/assets/fonts/SHPinscher-Regular.otf";
import skynight from "@/assets/images/games/magic-tiles/skynight.png";
import farMountain from "@/assets/images/games/magic-tiles/farMountain.png";
import farMountainTrees from "@/assets/images/games/magic-tiles/farMountainTrees.png";
import nearMountain from "@/assets/images/games/magic-tiles/nearMountain.png";
import nearMountainTrees from "@/assets/images/games/magic-tiles/nearMountainTrees.png";
import citybg from "@/assets/images/games/magic-tiles/citybg.png";
import cityfg from "@/assets/images/games/magic-tiles/cityfg.png";

import { useSound } from "@vueuse/sound";
import quirky_bones from "@/assets/sounds/quirky_bones.mp3";
import { KEY_CODES, BREAKPOINTS_MOBILE } from "@/constants/";
import { Tile } from "~~/client/lib/project/games/magic_tiles/tile";

useHead({
  title: `Magic tiles`,
});
const buttonTxt = ref<string>('Click to Play');
const isEnded = ref<boolean>(false);
const bgSong = useSound(quirky_bones, {
  onend: () => {
    isEnded.value = true;
    buttonTxt.value = 'Game over, plz reload page to play';
  }
});

// bgSong.sound.value._autoplay = true;  
const btn = ref<HTMLElement>();
const isPlaying = ref<boolean>(false);
const soundStartPos = ref <number>(0);

const handleClick = () => {
  isPlaying.value = true;
  // console.log(bgSong.sound.value);
  // console.log(bgSong.sound.value._duration);
  if (isEnded.value) return;
  if (!bgSong.isPlaying.value) {
    bgSong.play();
    soundStartPos.value = Date.now();
  } else {
    bgSong.pause();
  } 
};

const sketch = (p5: p5) => {
  const cWidth = 1000;
  const cHeight = 600;
  const cMobileWidth = 327;
  const cMobileHeight = 600;
  let font: p5.Font;
  let fontSize = 40;
  let skyImg: p5.Image;
  let tiles = [];
  let score = 0;
  let hitScore = 10;
  let xLines = [400, 440, 480, 520, 560, 600];
  let tileHeights = [40, 80, 120];
  let pressingTileId: string = undefined;
  // let duration = bgSong.sound.value._duration
  // let spritedata;
  let farMountainImg: p5.Image;
  let farMountainTreesImg: p5.Image;
  let nearMountainImg: p5.Image;
  let nearMountainTreesImg: p5.Image;
  let dynamicImgPos =  {
    farMountainY: cHeight,
    farMountainTreesX: -cWidth,
    nearMountainTreesX: cWidth,
    nearMountainX: -cWidth,
    cityFgX: -cMobileWidth
  }
  let songSteps: number[];
  let rate = 2;
  let citybgImg: p5.Image;
  let cityfgImg: p5.Image;

  p5.preload = () => {
    font = p5.loadFont(eibitfont);
    skyImg = p5.loadImage(skynight);
    farMountainImg = p5.loadImage(farMountain)
    farMountainTreesImg = p5.loadImage(farMountainTrees)
    nearMountainImg = p5.loadImage(nearMountain)
    nearMountainTreesImg = p5.loadImage(nearMountainTrees)
    citybgImg = p5.loadImage(citybg)
    cityfgImg = p5.loadImage(cityfg)
  };

  p5.setup = () => {
    const canvas = p5.createCanvas(cWidth, cHeight);
    skyImg.resize(cWidth, cHeight);
    if (p5.windowWidth <= BREAKPOINTS_MOBILE) {
      p5.resizeCanvas(cMobileWidth, cMobileHeight);
      xLines = [88, 118, 148, 178, 208, 238];
      tileHeights = [30, 60, 90];
      fontSize = 30;
    }
    dynamicImgPos =  {
      farMountainY: cMobileHeight,
      farMountainTreesX: -cWidth,
      nearMountainTreesX: cWidth,
      nearMountainX: -cWidth,
      cityFgX: -cMobileWidth
    }
    resetSketch();
  };

  const resetSketch = () => {};

  /*=================================================================*/
  /*                              @draw                              
  /*=================================================================*/
  p5.draw = () => {
    if (!isPlaying.value) {
      p5.background("black");
      return;
    }
    if (p5.windowWidth <= BREAKPOINTS_MOBILE) {
      p5.background(citybgImg)
    } else {
      p5.background(skyImg);
    }
    changeBackground(); 

    p5.stroke(255);
    p5.strokeWeight(2);
    xLines.forEach((x) => {
      p5.line(x, 0, x, p5.height);
    });
    p5.noStroke();
    makeNewOrb(p5.frameCount);
    tiles.forEach((tile) => {
      tile.show();
    });
    if (p5.mouseIsPressed) {
      tiles.forEach((tile) => {
        let offset = 20;
        if (!isEnded.value && checkMouseInsideTile(tile) && tile.h >
          tileHeights[0]) {
          if (pressingTileId === undefined) {
            pressingTileId = tile.id;
          }

          if (pressingTileId === tile.id) {
            score += hitScore / 2;
          } else {
            score -= hitScore / 2;
            tile.pressColor = "red";
          }

          let bottomY = tile.y + tile.h;
          let recHeight = bottomY - p5.mouseY - offset;
          let recY = p5.mouseY + offset;
          let arcY = p5.mouseY + offset;
          // handle edge case when mouse pos < offset
          if (bottomY - p5.mouseY <= offset) {
            recHeight = bottomY - p5.mouseY;
            tile.pressColor = "noFill";
            // arcY = recY = bottomY - offset * 2;
          } else {
            tile.pressColor = "#fae";
            if (pressingTileId !== tile.id) tile.pressColor = "red";
          }
          tile.isPressing = true;
          tile.pressRec = {
            x: tile.x,
            y: recY,
            w: tile.w,
            h: recHeight,
          };
          tile.pressArc = {
            x: tile.x + tile.w / 2,
            y: arcY,
            w: tile.w,
            h: tile.w / 2,
            start: -p5.PI,
            stop: 0,
          };
        } else {
          let newY = Math.max(tile.y + offset, tile.pressRec.y);
          tile.pressRec = { ...tile.pressRec, y: newY };
          tile.pressArc = { ...tile.pressArc, y: newY };
          // score -= hitScore / 2;
        }
      });
    } else {
      tiles.forEach((tile) => {
        if (tile.isPressing) {
          tile.isPressed = true;
        }
      });
      pressingTileId = undefined;
    }

    tiles = tiles.filter((tile) => tile.y < p5.height);
    drawScore();
    if (isEnded.value) {
      tiles.forEach(tile => tile.isEnded = true);
    }
  };

  const makeNewOrb = (frame: number) => {
    if (isEnded.value) return;
    if (frame % 20 === 0) {
      let chance = p5.map(score, 0, 100, 0.25, 0.99);
      if (p5.random() >= chance) return;
      let velocity = 1;
      let height = p5.random(tileHeights);
      let initX = p5.random(removeLast(xLines));
      let initY = 0;
      //check collision
      let isCrashed = false;
      tiles.forEach((tile) => {
        if (tile.x === initX) {
          if (height + 10 > tile.y) isCrashed = true;
        }
      });
      if (isCrashed) return;
      let tile = new Tile(p5, initX, initY, height, velocity);
      tiles.push(tile);
    }
  };
  const removeLast = (arr: number[]) => arr.slice(0, -1);

  const drawScore = () => {
    let x = 40, y = 40;
    if (p5.windowWidth <= BREAKPOINTS_MOBILE) {
      x = 10; y = 30;
    }
    p5.textSize(fontSize);
    p5.noStroke();
    p5.fill(255);
    p5.text(score, x, y);
  };

  const changeBackground = () => {
    let curPos = Date.now();  
    let d = bgSong.sound.value._duration; 
    let diff = (curPos - soundStartPos.value) / 1000;
    songSteps = [d*0.03, d*0.3, d*0.5, d*0.7]
    // console.log('start: ', soundStartPos.value);
    // console.log('cur: ', curPos);
    // console.log('d: ', d);
    // console.log('0.1: ', d*0.1);
    // console.log('o.4: ', d*0.4);
    // console.log('diff: ', curPos - soundStartPos.value);
    // console.log('**********');
    if (p5.windowWidth <= BREAKPOINTS_MOBILE) {
      changeBgMobile();
    } else {
      changeBgDesktop();
    }
  }

  const changeBgDesktop = () => {
      let curPos = Date.now();  
      let d = bgSong.sound.value._duration; 
      let diff = (curPos - soundStartPos.value) / 1000;
      songSteps = [d*0.03, d*0.3, d*0.5, d*0.7]

      if (diff > songSteps[0] && diff <= songSteps[1]) {
        showFarMountain();
      } else if ( diff >= songSteps[1] && diff < songSteps[2]) {
        p5.image(farMountainImg, 0, 0, p5.width, p5.height);
        //
        showNearMountain();
      } else if (diff >= songSteps[2] && diff <= songSteps[3]) {
        p5.image(farMountainImg, 0, 0, p5.width, p5.height);
        p5.image(nearMountainImg, 0, 40, p5.width, p5.height);
        showNearMountainTrees();
      } else if (diff >= songSteps[3]) {
        p5.image(farMountainImg, 0, 0, p5.width, p5.height);
        p5.image(nearMountainImg, 0, 40, p5.width, p5.height);
        p5.image(nearMountainTreesImg, 0, 0, p5.width, p5.height);
        showFarMoutainTrees();
      }
  }

  const showFarMountain = () => {
    let y0 = Math.max(0, dynamicImgPos.farMountainY);
    p5.image(farMountainImg, 0, y0, p5.width, p5.height);
    dynamicImgPos.farMountainY -= rate ;
  }

  const showFarMoutainTrees = () => {
    let fmtX = Math.min(dynamicImgPos.farMountainTreesX, 0);
    p5.image(farMountainTreesImg, fmtX, 0, p5.width, p5.height);
    dynamicImgPos.farMountainTreesX += rate;
  }

  const showNearMountainTrees= () => {
    let nmtX = Math.max(dynamicImgPos.nearMountainTreesX, 0);
    p5.image(nearMountainTreesImg, nmtX, 0, p5.width, p5.height);
    dynamicImgPos.nearMountainTreesX -= rate;
  }

  const showNearMountain = () => {
    let nmX = Math.min(dynamicImgPos.nearMountainX, 0);
    p5.image(nearMountainImg, nmX, 40, p5.width, p5.height);
    dynamicImgPos.nearMountainX += rate;
  }

  const changeBgMobile = () => {
    let curPos = Date.now();  
    let d = bgSong.sound.value._duration; 
    let diff = (curPos - soundStartPos.value) / 1000;
    songSteps = [d*0.03, d*0.3, d*0.5, d*0.7]
    if (diff > songSteps[0] ) {
      // let cityFgX = Math.max(0, dynamicImgPos.cityFgX);
      p5.image(cityfgImg, dynamicImgPos.cityFgX, 0, p5.width, p5.height);
      dynamicImgPos.cityFgX += 0.5 ;
      if (dynamicImgPos.cityFgX >= cMobileWidth) dynamicImgPos.cityFgX = -cMobileWidth;
    }
  }


  p5.keyPressed = () => {
    if (p5.key === KEY_CODES.space) {
      return false;
    }
  };

  p5.mouseClicked = () => {
    // console.log(walls[0].body);
    let found = false;
    tiles.forEach((tile) => {
      if (checkMouseInsideTile(tile)) {
        tile.isClicked = true;
        found = true;
      }
    });
    if (!isEnded.value && found) score += hitScore;
  };

  const checkMouseInsideTile = (tile: Tile) => {
    let leftX = tile.x;
    let rightX = tile.x + tile.w;
    let topY = tile.y;
    let bottomY = tile.y + tile.h;
    // console.log(leftX, rightX, topY, bottomY);
    // console.log(p5.mouseX, p5.mouseY);
    // console.log("************")
    if (
      p5.mouseX >= leftX &&
      p5.mouseX <= rightX &&
      p5.mouseY >= topY &&
      p5.mouseY <= bottomY
    ) {
      return true;
    }
    return false;
  };

  p5.mouseReleased = () => {};
};
</script>

<style lang="scss">
.p5-magic-tiles {
  section[name="p5-1"] {
    img {
      filter: $filter-red;
    }
    .playBtn {
      color: black;  
      background-color: greenyellow;
      padding-top: 8px;
      margin-bottom: 20px;
      text-transform: uppercase;
      border-radius: 0;
      display: block;
      margin: 0 auto;
      &:active {
        color: black;
        border: none;
      }
      &:focus {
        color: black;
        border: none;
      }
    }
  }
}
</style>
