<template>
  <main class="p5-playground content-width-boxed">
    <section name="1">
      <P5Wrapper :sketch="sketch" class="flex-center" />
    </section>
  </main>
</template>

<script lang="ts" setup>
import p5 from "p5";
import { Engine, World, MouseConstraint, Mouse } from "matter-js";
import { Bird, Box, Ground, SlingShot } from
"~~/client/components/games/p5/shooter/";
const KEY_CODES = {
  space: " ",
  left: "ArrowLeft",
  right: "ArrowRight",
  up: "ArrowUp",
  down: "ArrowDown",
};

const sketch = (p5: p5) => {
  // p5-@declaration
  let font: p5.Font;
  let ground: Ground;
  let boxed: Box[] = [];
  let bird: Bird;
  let world: Matter.World, engine: Matter.Engine;
  let mConstraint: MouseConstraint;
  let slingshot: SlingShot;

  p5.preload = () => {
    font = p5.loadFont("../../assets/fonts/SHPinscher-Regular.otf");
  };

  p5.setup = () => {
    const canvas = p5.createCanvas(800, 400);
    engine = Engine.create();
    world = engine.world;
    const mouse = Mouse.create(canvas.elt);
    const options = { mouse: mouse };
    mConstraint = MouseConstraint.create(engine, options);
    World.add(world, mConstraint);
    //
    ground = new Ground(p5, p5.width / 2, p5.height - 10, p5.width, 20);
    bird = new Bird(p5, 250, 300, 16);
    slingshot = new SlingShot(p5, world, 250, 300, bird.body);
    World.add(world, [ground.body, bird.body]);
    for (let i = 0; i < 3; i++) {
      boxed.push(new Box(p5, 650, 300 - i * 75, 50, 75));
    }
    boxed.forEach((box) => World.add(world, box.body));
    //
  };

  p5.draw = () => {
    p5.background(0);
    Engine.update(engine);
    ground.show();
    boxed.forEach((box) => box.show());
    bird.show();
    slingshot.show();
  };

  p5.keyPressed = () => {
    if (p5.key === KEY_CODES.space) {
    World.remove(world, bird.body);
    bird = new Bird(p5, 250, 300, 16);
    World.add(world, bird.body);
    slingshot.attach(bird.body);
    return false;
    }
  };

  p5.mouseClicked = () => {
    console.log(bird.body);
  }

  p5.mouseReleased = () => {
    setTimeout(() => {
      slingshot.fly();
    }, 50);
  };
};
</script>

<style lang="scss">
.p5-playground {
  section[name="1"] {
    margin-top: calc(var(--header-height) + 70px);
  }
}
</style>
