<template>
  <main name="tetris" class="content-width-boxed">
    <div class="container">
      <div class="canvas-wrapper">
        <canvas
          id="board"
          :width="rdata.width"
          :height="rdata.height"
          ref="canvas"
        >
        </canvas>
      </div>

      <div class="side-bar">
        <div>
          <h3>TETRIS</h3>
          <!-- <p class="sm:text-10 lg:text-14"> -->
          <!--   *now only available on desktop screen -->
          <!-- </p> -->
        </div>
        <canvas
          id="nextShapeCanvas"
          :width="rdata.widthNext"
          :height="rdata.heightNext"
          ref="nextShapeCanvas"
        />
        <p class="sm:text-12 lg:text-20">Score: {{ rdata.score }}</p>
        <p class="sm:text-12 lg:text-20">&larr; &rarr; &darr; to move</p>
        <p class="sm-text-12 lg:text-20">&uarr; to rotate</p>
        <button class="play-btn" @click="handleClickPlay">
          {{ "Replay" }}
        </button>

        <template v-for="(src, i) in BRICKS" :key="i">
          <img
            :src="src"
            :width="rdata.imageSquareSize"
            :height="rdata.imageSquareSize"
            ref="imgs"
            style="display: none"
          />
        </template>
      </div>
    </div>

    <template v-if="isMobile">
      <div class="mobile-btn-group my-24">
        <button class="rotate-btn" @click="rdata.brick.rotate">
          <SyncOutlined />
        </button>
        <button class="left-btn" @click="rdata.brick.moveLeft">
          <CaretLeftFilled />
        </button>
        <button class="right-btn" @click="rdata.brick.moveRight">
          <CaretRightFilled />
        </button>
        <button class="down-btn" @click="rdata.brick.moveDown">
          <CaretDownFilled />
        </button>
      </div>
    </template>
  </main>
</template>

<script lang="ts" setup>
import iconSquareBrown from "@/assets/images/games/tetris/icon-square-brown.svg";
import iconSquareGrey from "@/assets/images/games/tetris/icon-square-grey.svg";
import iconSquareLightBlue from "@/assets/images/games/tetris/icon-square-light-blue.svg";
import iconSquarePurple from "@/assets/images/games/tetris/icon-square-purple.svg";
import iconSquareOrange from "@/assets/images/games/tetris/icon-square-orange.svg";
import iconSquareYellow from "@/assets/images/games/tetris/icon-square-yellow.svg";
import iconBrickYellow from "@/assets/images/games/tetris/icon-brick-yellow.svg";
const isMobile = useMediaQuery("(max-width: 480px)");
/* @constants */
const BLOCK_SIZE = 40;
const blankLineThickness = 4;
const IMG_SQUARE_SIZE = BLOCK_SIZE - blankLineThickness;
const GAME_SPEED = 3;
const COLORS = ["#fff", "#bca0dc"];
const BLANK_COLOR_ID = 0;
const BG_COLOR_ID = 1;
const BRICKS = [
  iconSquareBrown,
  iconSquareGrey,
  iconSquareLightBlue,
  iconSquarePurple,
  iconSquareOrange,
  iconSquareYellow,
  iconBrickYellow,
];
const KEY_CODES = {
  left: "ArrowLeft",
  right: "ArrowRight",
  up: "ArrowUp",
  down: "ArrowDown",
};

const CELL_STATES = {
  blank: "blank",
  moving: "moving",
  landed: "landed",
};

const CANVAS_WIDTH = 400;
const CANVAS_HEIGHT = 680;
const CANVAS_WIDTH_NEXT = 200;
const CANVAS_HEIGHT_NEXT = 200;
const squareCountX = CANVAS_WIDTH / BLOCK_SIZE;
const squareCountY = CANVAS_HEIGHT / BLOCK_SIZE;
const canvas = ref<HTMLCanvasElement>();
const nextShapeCanvas = ref<HTMLCanvasElement>();
const imgs = ref<HTMLImageElement[]>();

/* board */

class Board {
  /* fields */
  ctx: CanvasRenderingContext2D;
  grid: { state: string; landedColorId: number }[][];
  width: number;
  height: number;
  constructor(ctx: CanvasRenderingContext2D, cols: number, rows: number) {
    this.ctx = ctx;
    this.grid = this.generateBlankBoard(cols, rows);
    this.width = cols * rdata.blockSize;
    this.height = rows * rdata.blockSize;
  }

  generateBlankBoard(cols: number, rows: number) {
    return Array.from({ length: rows }, () =>
      Array(cols).fill({ state: "blank", landedColorId: -1 })
    );
  }

  drawBoard() {
    if (!this.grid.length) return;
    this.ctx.clearRect(0, 0, this.width, this.height);
    this.drawBackground();
  }

  drawBackground() {
    this.drawCell(0, 0, this.width, this.height, BG_COLOR_ID);
    for (let x = 0; x <= this.width; x++) {
      this.drawCell(
        rdata.blockSize * x - rdata.blankLineThickness,
        0,
        rdata.blankLineThickness,
        this.height,
        BLANK_COLOR_ID
      );
    }

    for (let y = 0; y <= this.height; y++) {
      this.drawCell(
        0,
        rdata.blockSize * y - rdata.blankLineThickness,
        this.width,
        rdata.blankLineThickness,
        BLANK_COLOR_ID
      );
    }
  }

  drawLandedCell() {
    this.drawBackground();
    for (let row = 0; row < rdata.squareCountY; row++) {
      for (let col = 0; col < rdata.squareCountX; col++) {
        if (this.grid[row][col].state === CELL_STATES.landed) {
          this.ctx.drawImage(
            imgs.value[this.grid[row][col].landedColorId],
            col * rdata.blockSize,
            row * rdata.blockSize,
            rdata.imageSquareSize,
            rdata.imageSquareSize
          );
        }
      }
    }
  }

  drawCell(
    x: number,
    y: number,
    width: number,
    height: number,
    colorId: number = 0
  ) {
    this.ctx.fillStyle = COLORS[colorId];
    this.ctx.fillRect(x, y, width, height);
  }
}

class Brick {
  shape: number[][];
  colorId: number;
  x: number;
  y: number;
  constructor(shape: number[][], colorId: number = 0) {
    this.shape = shape;
    this.colorId = colorId;
    this.x = rdata.squareCountX / 2 - 1;
    this.y = shape.length * -1;
  }

  moveLeft() {
    if (this.checkCollision("left")) return;
    this.clear();
    this.x--;
    this.draw();
  }

  moveRight() {
    if (this.checkCollision("right")) return;
    this.clear();
    this.x++;
    this.draw();
  }

  moveDown() {
    if (!this.checkCollision("bottom")) {
      this.clear();
      this.y++;
      this.draw();
      return;
    }
    this.draw("landed");

    if (this.checkGameOver()) {
      rdata.gameOver = true;
      return;
    }
    this.handleCompleteRows();
    //
    // rdata.brick = generateNewBrick();
    rdata.brick = rdata.nextBrick;
    rdata.nextBrick = generateNewBrick();
    drawNextShape();
  }

  handleCompleteRows() {
    let rowsHasBlankCell = rdata.board.grid.filter((row) => {
      return row.some((col) => col.state === CELL_STATES.blank);
    });
    let diff = rdata.squareCountY - rowsHasBlankCell.length;
    if (!diff) return;
    const newRows = Array.from({ length: diff }, () =>
      Array(rdata.squareCountX).fill({ state: "blank", colorId: -1 })
    );

    rdata.score += diff * 10;
    rdata.board.grid = [...newRows, ...rowsHasBlankCell];
    rdata.board.drawLandedCell();
  }

  checkCollision(direction: string) {
    const checkClashedWithOther = (nextCellState: string) => {
      return nextCellState === CELL_STATES.landed;
    };

    for (let i = 0; i < this.shape.length; i++) {
      for (let j = 0; j < this.shape.length; j++) {
        if (this.shape[i][j] === 0) continue;
        const x = this.x + j;
        const y = this.y + i;
        if (y < -1) continue;
        switch (direction) {
          case "bottom":
            if (y + 1 >= rdata.squareCountY) return true;
            if (checkClashedWithOther(rdata.board.grid[y + 1][x].state))
              return true;
            break;
          case "left":
            if (x - 1 < 0) return true;
            if (checkClashedWithOther(rdata.board.grid[y][x - 1].state))
              return true;
            break;
          case "right":
            if (x + 1 >= rdata.squareCountX) return true;
            if (checkClashedWithOther(rdata.board.grid[y][x + 1].state))
              return true;
            break;
        }
      }
    }

    return false;
  }

  checkGameOver() {
    for (let i = 0; i < this.shape.length; i++) {
      for (let j = 0; j < this.shape.length; j++) {
        if (this.shape[i][j] === 0) continue;
        const x = this.x + j;
        const y = this.y + i;
        if (y < 0) return true;
      }
    }
    return false;
  }

  rotate() {
    //rotate matrix counter-clockwise
    let n = this.shape.length;
    let cycles = n / 2;
    let shapeClone = [];
    for (let i = 0; i < this.shape.length; i++)
      shapeClone.push(this.shape[i].slice());

    for (let layer = 0; layer < cycles; layer++) {
      let first = layer;
      let last = n - 1 - layer;
      for (let i = first; i < last; i++) {
        let offset = i - first;
        // store top left val to temp
        let tmp = shapeClone[first][i];
        // top left = top right
        shapeClone[first][i] = shapeClone[i][last];
        // top right = bottom right
        shapeClone[i][last] = shapeClone[last][last - offset];
        // bottom right = bottom left
        shapeClone[last][last - offset] = shapeClone[last - offset][first];
        // bottom left = top left
        shapeClone[last - offset][first] = tmp;
      }
    }
    let newX = this.x,
      newY = this.y;
    if (this.x + n > rdata.squareCountX) newX = rdata.squareCountX - n;
    if (this.x - n < 0) newX = 0;
    if (this.y + n > rdata.squareCountY) newY = rdata.squareCountY - n;

    let isClashedWithLanded = false;
    for (let i = 0; i < shapeClone.length; i++) {
      for (let j = 0; j < shapeClone.length; j++) {
        if (shapeClone[i][j] === 0) continue;
        const x = newX + j;
        const y = newY + i;
        if (rdata.board.grid[y][x].state === CELL_STATES.landed)
          isClashedWithLanded = true;
      }
    }

    if (isClashedWithLanded) return;
    this.clear();
    this.x = newX;
    this.y = newY;
    this.shape = shapeClone;
    this.draw();
  }

  draw(state: string = "moving") {
    for (let i = 0; i < this.shape.length; i++) {
      for (let j = 0; j < this.shape.length; j++) {
        if (this.shape[i][j] === 0) continue;
        let x = this.x + j;
        let y = this.y + i;
        if (y < 0) continue;
        rdata.board.ctx.drawImage(
          imgs.value[this.colorId],
          x * rdata.blockSize,
          y * rdata.blockSize,
          rdata.imageSquareSize,
          rdata.imageSquareSize
        );
        // update value of grid
        rdata.board.grid[y][x] = {
          state: CELL_STATES[state],
          landedColorId: state === "moving" ? -1 : this.colorId,
        };
      }
    }
  }

  clear() {
    for (let i = 0; i < this.shape.length; i++) {
      for (let j = 0; j < this.shape.length; j++) {
        if (this.shape[i][j] === 0) continue;
        let x = this.x + j;
        let y = this.y + i;
        if (y < 0) continue;
        rdata.board.drawCell(
          x * rdata.blockSize,
          y * rdata.blockSize,
          rdata.imageSquareSize,
          rdata.imageSquareSize,
          BG_COLOR_ID
        );
        // update value of grid
        rdata.board.grid[y][x] = {
          state: CELL_STATES.blank,
          landedColorId: -1,
        };
      }
    }
  }
}

const shapes = computed(() => {
  if (imgs.value) {
    return SHAPES.map((shape, index) => new Brick(shape, index));
  }
});

const generateNewBrick = () => {
  return Object.create(shapes.value[Math.floor(Math.random() * SHAPES.length)]);
};

const SHAPES = [
  [
    [0, 1, 0],
    [0, 1, 0],
    [1, 1, 0],
  ],
  [
    [0, 0, 0],
    [1, 1, 1],
    [0, 1, 0],
  ],
  [
    [0, 0, 0],
    [0, 1, 1],
    [1, 1, 0],
  ],
  [
    [0, 0, 1, 0],
    [0, 0, 1, 0],
    [0, 0, 1, 0],
    [0, 0, 1, 0],
  ],
  [
    [1, 1],
    [1, 1],
  ],
  [
    [0, 0, 0],
    [1, 1, 0],
    [0, 1, 1],
  ],
  [
    [0, 1, 0],
    [0, 1, 0],
    [0, 1, 1],
  ],
];

/* reactive-data */
interface LocalState {
  board: Board;
  brick: Brick;
  nextBrick: Brick;
  nextCtx: CanvasRenderingContext2D;
  next: Brick;
  width: number;
  height: number;
  score: number;
  gameOver: boolean;
  gamePaused: boolean;
  widthNext: number;
  heightNext: number;
  blockSize: number;
  imageSquareSize: number;
  squareCountX: number;
  squareCountY: number;
  blankLineThickness: number;
}

const rdata = reactive<Partial<LocalState>>({
  board: undefined,
  brick: undefined,
  nextBrick: undefined,
  nextCtx: undefined,
  width: CANVAS_WIDTH,
  height: CANVAS_HEIGHT,
  score: 0,
  gameOver: undefined,
  gamePaused: false,
  widthNext: CANVAS_WIDTH_NEXT,
  heightNext: CANVAS_HEIGHT_NEXT,
  blockSize: BLOCK_SIZE,
  imageSquareSize: IMG_SQUARE_SIZE,
  squareCountX: squareCountX,
  squareCountY: squareCountY,
  blankLineThickness: blankLineThickness,
});

onMounted(() => {
  const ctx = canvas.value.getContext("2d");
  rdata.nextCtx = nextShapeCanvas.value.getContext("2d");

  setTimeout(() => {
    rdata.board = new Board(ctx, rdata.squareCountX, rdata.squareCountY);
    rdata.board.drawBoard();
    rdata.brick = generateNewBrick();
    rdata.brick.draw();
    rdata.nextBrick = generateNewBrick();
    drawNextShape();
    rdata.gameOver = false;
  }, 450);
  //
  document.addEventListener("keydown", addKeyControl);
});

onBeforeUnmount(() => {
  document.removeEventListener("keydown", addKeyControl);
});

const drawNextShape = () => {
  let n = rdata.nextBrick.shape.length;
  let padding = 8;
  rdata.nextCtx.clearRect(
    0,
    0,
    nextShapeCanvas.value.width,
    nextShapeCanvas.value.height
  );
  rdata.nextCtx.fillStyle = COLORS[BG_COLOR_ID];
  rdata.nextCtx.fillRect(
    0,
    0,
    n * rdata.blockSize + padding + padding / 2,
    n * rdata.blockSize + padding + padding / 2
  );
  for (let i = 0; i < n; i++) {
    for (let j = 0; j < n; j++) {
      if (rdata.nextBrick.shape[i][j] === 0) continue;
      rdata.nextCtx.drawImage(
        imgs.value[rdata.nextBrick.colorId],
        j * rdata.blockSize + padding,
        i * rdata.blockSize + padding,
        rdata.imageSquareSize,
        rdata.imageSquareSize
      );
    }
  }
};

const addKeyControl = (e) => {
  if (!rdata.gameOver && !rdata.gamePaused) {
    switch (e.code) {
      case KEY_CODES.up:
        rdata.brick.rotate();
        break;
      case KEY_CODES.right:
        rdata.brick.moveRight();
        break;
      case KEY_CODES.down:
        rdata.brick.moveDown();
        break;
      case KEY_CODES.left:
        rdata.brick.moveLeft();
        break;
      default:
        break;
    }
    e.preventDefault();
  }
};

const handleClickPlay = () => {
  const ctx = canvas.value.getContext("2d");
  rdata.brick = undefined;
  rdata.nextBrick = undefined;
  rdata.board = new Board(ctx, rdata.squareCountX, rdata.squareCountY);
  rdata.board.drawBoard();
  rdata.score = 0;
  //
  rdata.brick = generateNewBrick();
  rdata.brick.draw();
  rdata.nextBrick = generateNewBrick();
  drawNextShape();
  rdata.gameOver = false;
  rdata.gamePaused = false;
};

watch(
  () => rdata.gameOver,
  () => {
    let update = setInterval(() => {
      if (rdata.gameOver) {
        clearInterval(update);
      } else {
        rdata.brick.moveDown();
      }
    }, 1000 / GAME_SPEED);

    if (rdata.gameOver) {
      rdata.board.ctx.fillStyle = "black";
      if (isMobile.value) {
        rdata.board.ctx.font = "36px bold Poppins";
        rdata.board.ctx.fillText("Game Over", 16, rdata.height / 2);
      } else {
        rdata.board.ctx.font = "64px bold Poppins";
        rdata.board.ctx.fillText("Game Over", 45, rdata.height / 2);
      }
    }
  }
);

watch(isMobile, () => {
  if (isMobile.value) {
    rdata.width = 200;
    rdata.height = 340;
    rdata.widthNext = 100;
    rdata.heightNext = 100;
    rdata.blockSize = 20;
    rdata.imageSquareSize = 18;
    rdata.blankLineThickness = 1;
    rdata.squareCountX = rdata.width / rdata.blockSize;
    rdata.squareCountY = rdata.height / rdata.blockSize;
  } else {
    rdata.width = CANVAS_WIDTH;
    rdata.height = CANVAS_HEIGHT;
    rdata.widthNext = CANVAS_WIDTH_NEXT;
    rdata.heightNext = CANVAS_HEIGHT_NEXT;
    rdata.blockSize = BLOCK_SIZE;
    rdata.imageSquareSize = IMG_SQUARE_SIZE;
    rdata.blankLineThickness = blankLineThickness;
  }
});
</script>

<style lang="scss">
main[name="tetris"] {
  margin-top: calc($header-height + 70px);
  --blank-thickness: 4px;
  --offset-thickness: 8px;
  --first-col-width: calc(
    400px + var(--offset-thickness) * 2 - var(--blank-thickness)
  );
  .container {
    display: grid;
    grid-template-columns: var(--first-col-width) 240px;
    justify-content: center;
    margin-top: 100px;
  }
  @media only screen and (max-width: 480px) {
    margin-top: calc($header-height + 40px);
    --blank-thickness: 1px;
    --offset-thickness: 4px;
    --first-col-width: calc(
      200px + var(--offset-thickness) * 2 - var(--blank-thickness)
    );
    .container {
      grid-template-columns: var(--first-col-width) 100px;
      grid-gap: 12px;
    }
  }

  .side-bar {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
    justify-content: flex-start;
    padding: 20px;
  }
  @media only screen and (max-width: 480px) {
    .side-bar {
      padding: 8px;
      row-gap: 12px;
    }
  }

  .canvas-wrapper {
    padding: var(--offset-thickness) 0px;
    padding-left: var(--offset-thickness);
    padding-right: calc(var(--offset-thickness) - var(--blank-thickness));
    padding-bottom: calc(var(--offset-thickness) - var(--blank-thickness));
    background-color: #fff;
    border-radius: 4px;
    #board {
      z-index: 5;
    }
  }
  @media only screen and (max-width: 480px) {
    .canvas-wrapper {
      height: 348px;
    }
  }

  .play-btn {
    background-color: greenyellow;
    font-size: 16px;
    padding: 15px 30px;
    cursor: pointer;
    &:focus {
      outline: none;
    }
    @media only screen and (max-width: 480px) {
      font-size: 14px;
      padding: 6px 12px;
    }
  }

  .mobile-btn-group {
    position: relative;
    width: 100%;
    height: calc(36px * 3);
    button {
      position: absolute;
      width: 32px;
      height: 32px;
      border-radius: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: var(--color-green);
      svg {
        width: 20px;
        height: 20px;
      }
      --offset-btn: 36px;
      &.rotate-btn {
        top: 0;
        left: 50%;
      }

      &.left-btn {
        top: var(--offset-btn);
        left: 35%;
      }
      &.right-btn {
        top: calc(var(--offset-btn) * 1);
        left: 65%;
      }
      &.down-btn {
        top: calc(var(--offset-btn) * 2);
        left: 50%;
      }
    }
  }
}
</style>
