<template>
  <swiper class="Swiper" >
    <swiper-slide v-for="(slide, index ) in props.slides" :key="index">
      <slot/>
    </swiper-slide>
  </swiper>  
</template>

<script lang="ts" setup>
import { Swiper, SwiperSlide } from 'swiper/vue';

const props = defineProps({
  slides: {
    type: Array,
    default: []
  }
})

</script>

<style lang="scss">
.Swiper {
  
}
</style>
