<template>
  <a-button
    :class="`Button ${selectedStyle} ${selectedSize}`"
    :onClick="handleClick"
    :style="props.width ? {width: props.width+'px' } : {}"
  >
    <slot />
  </a-button>
</template>

<script lang="ts" setup>
const props = defineProps({
  callback: {
    type: Function,
    default: undefined,
  },
  size: {
    type: String,
    default: "md",
  },
  to: {
    type: [String, Object],
    default: undefined,
  },
  type: {
    type: String,
    default: "primary",
  },
  width: {
    type: String,
    default: undefined
  }
});

const styles = reactive<{ [key: string]: string }>({
  primary: "primary",
  secondary: "secondaty",
  opposite: "opposite",
});

const sizes = reactive<{ [key: string]: string }>({
  lg: "large",
  md: "middle",
  sm: "small",
});

// computedstate
const selectedStyle = computed(() => styles[props.type]);
const selectedSize = computed(() => sizes[props.size]);
const width = computed(() => sizes[props.width]);

// methods
const handleClick = (e) => {
  const router = useRouter();
  if (props.to) {
    router.push(props.to);
    return;
  }

  if (props.callback) props.callback();
};
</script>

<style lang="scss">
.Button {
  border: none;
  border-radius: 30px;
  color: #fff;
  font-family: "Rubik", sans-serif;
  font-weight: 700;
  line-height: 1;

  &:hover {
    border: 0;
    color: #fff;
  }

  span::selection {
    background: inherit;
  }

  &.primary {
    background-color: #ff4c60;
  }

  &.secondary {
    background-color: #fff;
  }

  &.large {
    min-height: 40px;
  }

  &.middle {
    min-height: 30px;
  }

  &.small {
    min-height: 20px;
  }

}
</style>
