<template>
  <a-dropdown>
    <a  >
      Click me
      <DownOutlined />
    </a>
    <template #overlay>
      <a-menu>
        <a-menu-item v-for="(item, index) in props.items" key="index">
          {{ item }}
        </a-menu-item>
      </a-menu>
    </template>
  </a-dropdown>
</template>

<script lang="ts" setup>
const props = defineProps({
  items: {
    type: Array,
    default: undefined,
  },
});

const data = reactive<{ [key: string]: string | object }>({
  label: "Click me",
  test: ["a", "b", "c"],
});


// methos
const handleClick = (e) => {
  // console.log("handle click on icon");
};

const handleHover = (e) => {
  // console.log(props.items);
}

//computed
</script>

<style lang="scss">
.Dropdown {

}
</style>
