<template inheritAttrs="false">
  <div v-if="to" @click="handleClick" class="Icon" :class="{clickable: props.callback!!}">
    <slot />
  </div>
  <a
    v-else
    class="Icon" 
    :href="href"
  >
    <slot />
  </a>
</template>

<script lang="ts" setup>
const props = defineProps({
  callback: {
    type: Function,
    default: undefined,
  },
  href: {
    type: String,
    default: undefined,
  },
  to: {
    type: [String, Object],
    default: undefined,
  },
  size: {
    type: String,
    default: "sm",
  },
});

//styles
const sizes = reactive<{ [key: string]: string }>({
  lg: "large",
  md: "middle",
  sm: "small",
  custom: "custom",
});

// methos
const handleClick = (e) => {
  // console.log("handle click on icon");
  const router = useRouter();
  if (props.to) {
    router.push(props.to);
    return;
  }

  if (props.callback) props.callback();
};

//computed
</script>

<style lang="scss">
.Icon {

  border-radius: 1000px;
  transition: background .3s ease-in-out; 
  &:hover {
    background-color: #FFFDF9;
    border-radius: 1000px;
  }

  span[role="img"] {
    color: red;

    &.small svg {
      width: 24px;
      height: 24px;
    }

    &.medium svg {
      width: 32px;
      height: 32px;
    }

    &.large svg {
      width: 36px;
      height: 36px;
    }
  }
}
</style>
