<template>
  <a-select class="Select" :options="props.items"> </a-select>
</template>

<script lang="ts" setup>
const props = defineProps({
  items: {
    type: Array,
    default: undefined,
  },
});

const data = reactive({
  dropdownStyle: {
    color: "var(--color-white)",
    backgroundColor: "var(--color-dark-light)",
  },
});
</script>

<style lang="scss">
.Select {
  min-width: 120px;
  background-color: $color-dark;
  .ant-select-selector {
    background-color: $color-dark !important;
    color: $color-white;
  }

  span[role="img"] {
    svg {
      color: $color-white;
    }
  }
}

.ant-select-dropdown {
  background-color: var(--color-dark-tint);
  div.rc-virtual-list {
    .ant-select-item.ant-select-item-option {
      font-family: $font-nunito;
      &:hover {
        background-color: var(--color-dark-light);
      }
      &.ant-select-item-option-selected,
      &.ant-select-item-option-active {
        background-color: var(--color-dark-light);
      }

      .ant-select-item-option-content {
        color: #fff;
      }
    }
  }
}

</style>
