<template>
  <a-skeleton class="Skeleton">
    <slot />
  </a-skeleton>
</template>

<style lang="scss">
.Skeleton {
  padding: 20px;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: rgb(20, 20, 20);
}
</style>
