<template>
  <a-tag class="Tag" :class="colors[props.colorIndex % colors.length]">
    <slot/>  
  </a-tag>
</template>

<script lang="ts" setup>
  const colors = ["pink", "blue", "yellow"];
  const props = defineProps({
    colorIndex: {
      type: Number,
      default: 0
    }  
  })

</script>

<style lang="scss">
.Tag {
  font-family: $font-poppins;
  font-size: 20px;
  padding: 4px 12px;
  transform: skew(-20deg);
  color: black;
  /*$tag-themes: ("pink": $color-pink, "blue": $color-blue, "yellow":
  $color-yellow); */
  @each $key, $value in $tag-themes {
    &.#{$key} {
      background-color: $value;
      border-color: $value;
    }
  }

  &.ant-tag > * {
    transform: skew(20deg);
  }
  @media only screen and (max-width: 480px) {
    font-size: 16px;
    padding: 4px 8px;
  }
}
</style>
