<template>
  <div class="content" ref="el">
    <slot></slot>
  </div>
</template>

<script lang="ts" setup>

const props = defineProps({
  startDelay: {
    type: Number,
    default: 0,
  },
  typeInterval: {
    type: Number,
    default: 75,
  },
  replace: {
    type: Array,
    default: [],
  },
  replaceInterval: {
    type: Number,
    default: 2000,
  },
});

const el = ref(null);
onMounted(() => init());

const init = async () => {
  const { innerHTML, innerText } = el.value;
  el.value.innerHTML =
    innerHTML.trim() === innerText ? `<span> ${innerHTML} </span>` : innerHTML;
  await typewriter(el.value.innerHTML);
  if (props.replace.length) {
    setTimeout(() => {
      startReplacing();
    }, props.replaceInterval);
  }
};

const typewriter = (str: string) => {
  return new Promise((resolve) => {
    el.value.innerHTML = "";

    const f = (index) => {
      const current = str[index];
      index = current === "<" ? str.indexOf(">", index) + 1 : ++index;
      el.value.innerHTML = str.substr(0, index);
      if (index < str.length - 1) {
        setTimeout(f, props.typeInterval, index);
        return;
      }
      resolve("");
    };

    f(0);
  });
};
//
const startReplacing = (
  replace = props.replace,
  replaceInterval = props.replaceInterval
) => {
  if (!replace) {
    throw new Error("Replace parameter is needed");
  }

  if (!replace.length) {
    throw new Error("Replace parameter has 0 length");
  }

  return new Promise((resolve) => {
    const f = async (index) => {
      await replaceText(replace[index]);
      if (index < replace.length - 1) {
        setTimeout(f, replaceInterval, ++index);
        return;
      }
      resolve("");
    };

    f(0);
  });
};

//
const replaceText = async (changed) => {
  assert(changed, "Changed parameter is needed");
  const { from, to } = changed;
  const str = el.value.innerHTML;
  const regex = new RegExp("\\b" + from + "\\b");
  const match = str.match(regex);
  assert(
    match,
    `Substring '${from}' not found in component\` current innerHTML`
  );

  const { index } = match;
  await removeString(index, index + from.lenght);
  await addString(index, to);
};

const removeString = (start, end) => {
  return new Promise((resolve) => {
    const elementCopy = el.value;
    const f = (index) => {
      elementCopy.innerHTML = elementCopy.innerHTML.slice(0, index);
      index--;

      if (start <= index) {
        setTimeout(f, props.typeInterval, index);
        return;
      }
      resolve("");
    };
    f(end - 1);
  });
};

const addString = (start, str) => {
  return new Promise((resovle) => {
    const elementCopy = el.value;
    const f = (index, start) => {
      elementCopy.innerHTML = insert(elementCopy.innerHTML, start, str[index]);

      if (index < str.length - 1) {
        setTimeout(f, props.typeInterval, ++index, ++start);
        return;
      }
    };
    f(0, start);
  });
};

const insert = (text, index, newChar) => {
  return text.substring(0, index) + newChar + text.substr(index);
};

const replaceLastWord = async (to) => {
  const lastWord = el.value.innerText.split(" ").pop();
  assert(lastWord, "Component`s current innerHTML is empty");
  await replaceText({ from: lastWord, to });
};

const assert = (condition, message) => {
  if (!condition) {
    throw new Error(message || "Assertion failed");
  }
};
</script>

<style lang="scss">
@keyframes blink {
  from,
  to {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

.content * {
  color: $color-white;
}

.content *:last-child::after {
  font-size: calc(1em + 2px);
  content: "|";
  animation: blink 0.75s step-end infinite;
}
</style>
